force-app/main/default/flows/Birthday_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Happy birthday Email</description>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>852</locationX>
        <locationY>346</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BirthdayWish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Contacts.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>nisha.vk@contrivers.in</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Happy Birthday {!Loop_Through_Contacts.FirstName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>DayToday</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>TodaysMonth</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>Birthday Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Birthday Reminder</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>628</locationX>
        <locationY>347</locationY>
        <collectionReference>CustomerContactEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SendEmail</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>723</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Birthday_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodaysMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthday_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DayToday</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>CustomerContactEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Birthday_Month__c</queriedFields>
        <queriedFields>Birthday_Date__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>247</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-16</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>BirthdayWish</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;background-color: #f3f3f3;&quot;&gt;&lt;span style=&quot;background-color: #f3f3f3;&quot;&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;background-color: #f3f3f3;&quot;&gt;&lt;span&gt;&lt;a href=&quot;https://assets.website-files.com/617c1ebe7756fd2f3cc5c3db/6238fa84d370ad9ad1ae01ea_spLogoBlackTextTransparentBG-p-1600.png&quot;&gt;&lt;img border=&quot;0&quot; data-original-height=&quot;80&quot; data-original-width=&quot;80&quot; height=&quot;47&quot; src=&quot;https://assets.website-files.com/617c1ebe7756fd2f3cc5c3db/6238fa84d370ad9ad1ae01ea_spLogoBlackTextTransparentBG-p-1600.png&quot; width=&quot;148&quot; /&gt;&lt;/a&gt;&lt;/span&gt;&lt;span style=&quot;font-family: georgia; text-align: center; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;color: #cc0000; font-size: large;&quot;&gt;  &lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;background-color: #f3f3f3;&quot;&gt;&lt;span style=&quot;color: #134f5c; font-family: Georgia, serif; font-size: 36pt;&quot;&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; Hey
{!Loop_Through_Contacts.FirstName}&lt;/span&gt;&lt;p class=&quot;MsoNormal&quot;&gt;&lt;span style=&quot;font-size: 36pt; line-height: 107%;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;MsoNormal&quot;&gt;&lt;span style=&quot;font-size: 48pt; line-height: 107%;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;div&gt;&lt;h1 style=&quot;border: none; margin: 10px; padding: 5px;&quot;&gt;&lt;div class=&quot;separator&quot; style=&quot;clear: both; text-align: center;&quot;&gt;&lt;a href=&quot;https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj_9NGWFqwN-au7zkJmaeQTFvVWQ1YQuKaYpb1YZ3wEsbu7kX47SbLHEDV9v5qatUi-cMjL4bCpK9IMeTkQNmRWi0h3azwckCAq9ONm5prA8TABtIM-yNiBMG9PjgKQKTxGLYzuUD74h22LXYC2_Pz7s_2nhGaFZ3LfCNvSjXdIbhjXO6-L9SFS5YJd/s500/bday-759.gif&quot; style=&quot;background-color: #f3f3f3;&quot;&gt;&lt;img border=&quot;0&quot; data-original-height=&quot;534&quot; data-original-width=&quot;1200&quot; height=&quot;346&quot; src=&quot;https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj_9NGWFqwN-au7zkJmaeQTFvVWQ1YQuKaYpb1YZ3wEsbu7kX47SbLHEDV9v5qatUi-cMjL4bCpK9IMeTkQNmRWi0h3azwckCAq9ONm5prA8TABtIM-yNiBMG9PjgKQKTxGLYzuUD74h22LXYC2_Pz7s_2nhGaFZ3LfCNvSjXdIbhjXO6-L9SFS5YJd/s500/bday-759.gif&quot; width=&quot;471&quot; /&gt;&lt;/a&gt;&lt;span style=&quot;color: #444444; font-family: georgia; font-size: xx-large; white-space: pre-wrap;&quot;&gt; &lt;/span&gt;&lt;/div&gt;&lt;div class=&quot;separator&quot; style=&quot;clear: both; text-align: center;&quot;&gt;&lt;br /&gt;&lt;/div&gt;&lt;/h1&gt;&lt;div&gt;&lt;h1 style=&quot;box-sizing: border-box; counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0 list-9 0; font-size: var(--lwc-fontSize8,1.5rem); margin-bottom: var(--lwc-spacingSmall,0.75rem); margin-left: 0px; margin-right: 0px; margin-top: 0px; padding: 0px; pointer-events: auto;&quot;&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: #f3f3f3;&quot;&gt;&lt;span style=&quot;color: #444444; font-family: arial; font-size: small; font-weight: inherit; white-space: pre-wrap;&quot;&gt;    &lt;/span&gt;&lt;span&gt;&lt;span style=&quot;color: #444444; font-size: x-large; font-weight: inherit; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;font-family: arial;&quot;&gt; &lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;b style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; font-family: &amp;quot;Hind Siliguri&amp;quot;; font-size: 28pt; line-height: 107%;&quot;&gt;HAPPY BIRTHDAY !!!&lt;/span&gt;&lt;/b&gt;&lt;/div&gt;&lt;p class=&quot;MsoNormal&quot;&gt;&lt;span style=&quot;font-size: 28pt; line-height: 107%;&quot;&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;br /&gt;&lt;/div&gt;&lt;span style=&quot;background-color: #f3f3f3;&quot;&gt;&lt;span&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-weight: 400; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;color: #444444; font-family: arial; font-size: small;&quot;&gt;               &lt;/span&gt;&lt;span style=&quot;font-size: medium;&quot;&gt;&lt;span style=&quot;color: #45818e; font-family: helvetica;&quot;&gt;We value your special day just as much as we value you. On your          &lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-weight: 400; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;font-size: medium;&quot;&gt;&lt;span style=&quot;color: #45818e; font-family: helvetica;&quot;&gt;    Birthday, we send you our warmest and most heartfelt wishes. We&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-weight: 400; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;font-size: medium;&quot;&gt;&lt;span style=&quot;color: #45818e; font-family: helvetica;&quot;&gt;     We are thrilled to be sharing this great day with you, and glad to    &lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-weight: 400; white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;font-size: medium;&quot;&gt;&lt;span style=&quot;color: #45818e; font-family: helvetica;&quot;&gt;have you as a valuable member of the team. We appreciate     &lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;font-size: medium;&quot;&gt;&lt;span style=&quot;color: #45818e; font-family: helvetica;&quot;&gt;&lt;span style=&quot;font-weight: 400;&quot;&gt;   everything you&apos;ve done to help us flourish and grow. Our entire    &lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;font-size: medium;&quot;&gt;&lt;span style=&quot;color: #45818e; font-family: helvetica;&quot;&gt;&lt;span style=&quot;font-weight: 400;&quot;&gt;corporate family at &lt;/span&gt;&lt;span&gt;WeSell &lt;/span&gt;&lt;span style=&quot;font-weight: 400;&quot;&gt;wishes you a very Happy Birthday   &lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;white-space: pre-wrap;&quot;&gt;&lt;span style=&quot;font-size: medium;&quot;&gt;&lt;span style=&quot;color: #45818e; font-family: helvetica;&quot;&gt;&lt;span style=&quot;font-weight: 400;&quot;&gt;and all the best on your special day!!!🎊&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;br /&gt;&lt;/div&gt;&lt;div style=&quot;color: #444444; text-align: center;&quot;&gt;&lt;br /&gt;&lt;/div&gt;&lt;div style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: helvetica; font-size: medium;&quot;&gt;&lt;span style=&quot;font-weight: normal;&quot;&gt;&lt;br /&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;/span&gt;&lt;/span&gt;&lt;span&gt;&lt;span style=&quot;font-family: helvetica; font-size: medium;&quot;&gt;&lt;span style=&quot;font-weight: 400; white-space: pre-wrap;&quot;&gt;&lt;div&gt;&lt;span&gt;&lt;span style=&quot;background-color: #f3f3f3;&quot;&gt;       Regards,&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;&lt;span style=&quot;background-color: #f3f3f3;&quot;&gt;       WeSell.com&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;div style=&quot;color: #444444; text-align: center;&quot;&gt;&lt;br /&gt;&lt;/div&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/h1&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>CustomerContactEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
