force-app/main/default/flows/Convert_Person_Account_to_Business_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Business_RecodType_To_Account</name>
        <label>assign Business RecodType To Account</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>UpdatePersonAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>businessAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePersonAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>commit_New_RecordType_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Business_RecodType_To_Account_0</name>
        <label>assign Business RecodType To Account</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>UpdatePersonAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalAccount.Company__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePersonAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>commit_New_RecordType_Id_0</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Convert Person Account to Business Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Person Account to Business Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This will get the record Id for a Business Account Record Type and store it in a variable</description>
        <name>Get_Business_Account_Record_Type_ID</name>
        <label>Get Business Account Record Type ID</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPersonAccountCompanyName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>businessAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPersonAccountCompanyName</name>
        <label>GetPersonAccountCompanyName</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Business_RecodType_To_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>originalAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Company__pc</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>commit_New_RecordType_Id</name>
        <label>commit New RecordType Id</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>assign_Business_RecodType_To_Account_0</targetReference>
        </connector>
        <inputReference>UpdatePersonAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>commit_New_RecordType_Id_0</name>
        <label>commit New RecordType Id</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputReference>UpdatePersonAccount</inputReference>
    </recordUpdates>
    <screens>
        <name>Company_field_mandatory</name>
        <label>Company field mandatory</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Business_Account_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>companymandatory</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please make sure company field value is added before converting into Business Account.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Company_field_mandatory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>businessAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>companyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>originalAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatePersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
