force-app/main/default/flows/Copy_Invested_Fund_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>calculate_the_fund_amount</name>
        <label>calculate the fund amount</label>
        <locationX>992</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>sumOfFundAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Through_InvestedFunds.Invested_Fund_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Through_InvestedFunds</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Copy Invested Fund Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total Invested Fund Amount On IR</label>
    <loops>
        <name>loop_Through_InvestedFunds</name>
        <label>loop Through InvestedFund</label>
        <locationX>751</locationX>
        <locationY>119</locationY>
        <collectionReference>getFundAmount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>calculate_the_fund_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>display_field_on_IR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getFundAmount1</name>
        <label>getFundAmount</label>
        <locationX>526</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Through_InvestedFunds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvestmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InvestmentName__c</elementReference>
            </value>
        </filters>
        <object>InvestedFund__c</object>
        <outputReference>getFundAmount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Invested_Fund_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>display_field_on_IR</name>
        <label>display field on IR</label>
        <locationX>753</locationX>
        <locationY>325</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InvestmentName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalInvestedFundAmount__c</field>
            <value>
                <elementReference>sumOfFundAmount1</elementReference>
            </value>
        </inputAssignments>
        <object>InvestmentRecord__c</object>
    </recordUpdates>
    <start>
        <locationX>77</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>getFundAmount1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvestmentName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>InvestedFund__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getFundAmount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvestedFund__c</objectType>
    </variables>
    <variables>
        <name>sumOfFundAmount1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
