force-app/main/default/flows/Sum_Of_Staggered_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>calculate_the_amount</name>
        <label>calculate the amount</label>
        <locationX>810</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>sumOFAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Through_Staggered_Object.Fee_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Through_Staggered_Object</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Sum Of Staggered Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sum Of Staggered Amount</label>
    <loops>
        <name>loop_Through_Staggered_Object</name>
        <label>loop Through Staggered Object</label>
        <locationX>651</locationX>
        <locationY>128</locationY>
        <collectionReference>getStaggeredFeeSchedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>calculate_the_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getFeeScheduleValue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getStaggeredRecord</name>
        <label>getStaggeredRecord</label>
        <locationX>524</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Through_Staggered_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FeeSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FeeSchedule__c</elementReference>
            </value>
        </filters>
        <object>Staggered__c</object>
        <outputReference>getStaggeredFeeSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Fee_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>getFeeScheduleValue</name>
        <label>getFeeScheduleValue</label>
        <locationX>663</locationX>
        <locationY>320</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FeeSchedule__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SAmt__c</field>
            <value>
                <elementReference>sumOFAmount</elementReference>
            </value>
        </inputAssignments>
        <object>FeeSchedules__c</object>
    </recordUpdates>
    <start>
        <locationX>59</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>getStaggeredRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FeeSchedule__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Staggered__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getStaggeredFeeSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staggered__c</objectType>
    </variables>
    <variables>
        <name>sumOFAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
