force-app/main/default/flows/Total_Fund_Amount_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>calculate_the_fund_amount</name>
        <label>calculate the fund amount</label>
        <locationX>925</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>sumoffundamount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Through_InvestedFund.Invested_Fund_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumoffundpercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Through_InvestedFund.Invested_Fund_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Through_InvestedFund</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Total Fund Amount on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total Fund Amount on Account</label>
    <loops>
        <name>loop_Through_InvestedFund</name>
        <label>loop Through InvestedFund</label>
        <locationX>692</locationX>
        <locationY>113</locationY>
        <collectionReference>getfundAmount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>calculate_the_fund_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>display_field_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getFundAmount1</name>
        <label>getFundAmount</label>
        <locationX>512</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Through_InvestedFund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <object>InvestedFund__c</object>
        <outputReference>getfundAmount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Invested_Fund_Amount__c</queriedFields>
        <queriedFields>Invested_Fund_Percentage__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>display_field_on_Account</name>
        <label>display field on Account</label>
        <locationX>698</locationX>
        <locationY>307</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invested_Fund__c</field>
            <value>
                <elementReference>sumoffundpercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Invested_Fund_Amount__c</field>
            <value>
                <elementReference>sumoffundamount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>55</locationX>
        <locationY>4</locationY>
        <connector>
            <targetReference>getFundAmount1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>InvestedFund__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>getfundAmount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvestedFund__c</objectType>
    </variables>
    <variables>
        <name>sumoffundamount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sumoffundpercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
