force-app/main/default/flows/Total_Investment_Fee_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignFeeAmount</name>
        <label>AssignFeeAmount</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>InvestmentFee.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInvestmentRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvestmentFee.FeeAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFeeAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InvestmentFeeCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InvestmentFeeCollection</name>
        <label>InvestmentFeeCollection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>InvestmentFeeRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvestmentFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInvestmentRecords</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>TotalFeeAmount</name>
        <dataType>Currency</dataType>
        <expression>{!LoopInvestmentRecords.Fix__c} + {!LoopInvestmentRecords.Hyb__c} + {!LoopInvestmentRecords.Var__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Total Investment Fee Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total Investment Fee Amount</label>
    <loops>
        <name>LoopInvestmentRecords</name>
        <label>LoopInvestmentRecords</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>getRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignFeeAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateInvestmentFee</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecord</name>
        <label>getRecord</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopInvestmentRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ROI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Investment_Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateInvestmentFee</name>
        <label>UpdateInvestmentFee</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>InvestmentFeeRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecord</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ROI__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PAmt__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ROI__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>InvestmentFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investment_Fee__c</objectType>
    </variables>
    <variables>
        <name>InvestmentFeeRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investment_Fee__c</objectType>
    </variables>
</Flow>
