force-app/main/default/flows/Total_ROI_Profit_and_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>calculate_the_roi_details</name>
        <label>calculate the roi details</label>
        <locationX>920</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>sumofProfitAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_ROI.PAmt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumofROIPercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_ROI.ROI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_ROI</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Total ROI (Profit and %) on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total ROI (Profit and %) on Account</label>
    <loops>
        <name>Loop_Through_ROI</name>
        <label>Loop Through ROI</label>
        <locationX>728</locationX>
        <locationY>156</locationY>
        <collectionReference>getROIRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>calculate_the_roi_details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>display_fields_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRoifieldValues</name>
        <label>getRoifieldValues</label>
        <locationX>530</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_ROI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <object>ROI__c</object>
        <outputReference>getROIRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PAmt__c</queriedFields>
        <queriedFields>ROI__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>display_fields_on_Account</name>
        <label>display fields on Account</label>
        <locationX>733</locationX>
        <locationY>348</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ROIProfitAmount__c</field>
            <value>
                <elementReference>sumofProfitAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ROI__c</field>
            <value>
                <elementReference>sumofROIPercentage</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>37</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRoifieldValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ROI__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>getROIRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ROI__c</objectType>
    </variables>
    <variables>
        <name>sumofProfitAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sumofROIPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
