force-app/main/default/flows/Total_Present_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>calculate_the_present_value</name>
        <label>calculate the present value</label>
        <locationX>900</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>sumOfPresentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Through_InvestmentFeeObject.PV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Through_InvestmentFeeObject</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Total Present Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total Present Value</label>
    <loops>
        <name>loop_Through_InvestmentFeeObject</name>
        <label>loop Through InvestmentFeeObject</label>
        <locationX>722</locationX>
        <locationY>102</locationY>
        <collectionReference>getPresentValue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>calculate_the_present_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>display_PresentValue_on_IR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPresentVal</name>
        <label>getPresentVal</label>
        <locationX>539</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Through_InvestmentFeeObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IR__c</elementReference>
            </value>
        </filters>
        <object>Investment_Fee__c</object>
        <outputReference>getPresentValue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PV__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>display_PresentValue_on_IR</name>
        <label>display PresentValue on IR</label>
        <locationX>733</locationX>
        <locationY>297</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IR__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TPVal__c</field>
            <value>
                <elementReference>sumOfPresentValue</elementReference>
            </value>
        </inputAssignments>
        <object>InvestmentRecord__c</object>
    </recordUpdates>
    <start>
        <locationX>106</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>getPresentVal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IR__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Investment_Fee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getPresentValue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investment_Fee__c</objectType>
    </variables>
    <variables>
        <name>sumOfPresentValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
